/* Color Theme Swatches in Hex */
$color-theme-1-hex: #F2EEB6;
$color-theme-2-hex: #B69E7C;
$color-theme-3-hex: #402C25;
$color-theme-4-hex: #161B21;
$color-theme-5-hex: #26100E;

// /* Color Theme Swatches in RGBA */
// $color-theme-1-rgba: rgba(242,238,182, .5);
$color-theme-2-rgba: rgba(182,158,124, .7);
$color-theme-3-rgba: rgba(64,44,37, 1);
// $color-theme-4-rgba: rgba(22,27,33, 1);
// $color-theme-5-rgba: rgba(38,16,14, 1);

// /* Color Theme Swatches in HSLA */
// $color-theme-1-hsla: hsla(56, 69, 83, 1);
// $color-theme-2-hsla: hsla(35, 28, 60, 1);
// $color-theme-3-hsla: hsla(15, 26, 19, 1);
// $color-theme-4-hsla: hsla(212, 20, 10, 1);
// $color-theme-5-hsla: hsla(5, 46, 10, 1);
