.header {
    display: flex;
    padding: 1rem;
    align-items: center;

    h1 {
        max-width: 160px;

        img {
            width: 100%;
        }
    }

    nav {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        
        button{
            display: flex;
            align-items: center;
            column-gap: 1em;
            background-color: transparent;
            border: none;
            cursor: pointer;            
        }

    }

    &__links{
        display: flex;
        column-gap: 1em;
    }
}