@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

.topo {
    &__btnMenu {
        margin: 1rem;
    }

    &__btn {
        background-color: #EBEBEB;
        color: #6F4A8E;
        border: none;
        margin: 3em 3em 0 3em;
        padding: .3em .5em;
        cursor: pointer;

        &:hover {
            background-color: #6F4A8E;
            color: #EBEBEB;
        }
    }

    .header {
        display: flex;
        padding: 1rem;
        align-items: center;
        font-family: 'Turret Road', cursive;
        font-size: 1.3rem;
        color: #6F4A8E;
        background-color: #EBEBEB;

        width: 100%;
        margin-top: -23vh;
        transition: margin-top 1s ease-in-out;

        &__aberto {
            margin-top: 0;
        }

        h1 {
            max-width: 160px;

            img {
                width: 100%;
            }
        }

        nav {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;

            button {
                display: flex;
                align-items: center;
                column-gap: 1em;
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-family: 'Turret Road', cursive;
                font-size: 1.3rem;
                color: #6F4A8E;
                padding: .3em .5em;

                &:hover {
                    background-color: #6F4A8E;
                    color: #EBEBEB;
                }
            }

        }

        &__links {
            display: flex;
            column-gap: 1em;
        }
    }

}