@import 'styles/_variaveis.module.scss';

.titulo {
    text-align: center;
    font-size: 4rem;
    padding: .5em 0;
    color: $color-theme-1-hex;
    margin-top: 2em;
    font-family: $fontWizard;
    text-shadow: black -2px 0, black 2px 0;
}

.carrocelContainer {
    padding: 2rem 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;



    &__descricao {
        opacity: 0;
        animation: fadeIn 1.3s ease-in-out forwards;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;


        &__titulo {
            font-size: 3rem;
            text-align: center;
            padding: 1em 0;
            font-family: $fontWizard;
        }

        p {
            font-size: 1.2rem;
            text-align: justify;
            line-height: 1.5em;
            font-family: $fontTextoNormal;
        }
        button{
            font-family: $fontTextoNormal;            
        }
    }

    &__invertido {
        order: 3;
    }
}

.carrocel {
    display: flex;
    align-items: center;
    order: 2;
    

    &__cards {
        display: flex;
        margin: 2rem;
        font-family: $fontTextoNormal;

        h4 {
            font-size: 1.5rem;
        }
    }
}

.teste {
    align-items: center;
    padding: 2em;
}

@media screen and (max-width: 760px) {

    .carrocel {
        &__sumirBTN {
            display: none;
        }
    }
}