@import 'styles/_variaveis.module.scss';

.carrocel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    &__titulo {
        font-size: 4rem;
        padding: 1em;
        text-align: center;
        font-family: $fontWizard;
        color: $color-theme-1-hex;        
        text-shadow: 2px 0 $color-theme-4-hex, -2px 0 $color-theme-4-hex;
    }
    &__container{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    &__cards{
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 1rem;
        column-gap: 1rem;        
        flex-wrap: wrap;
    }    
}
